Package: libkrf
Version: 1.0-1
Architecture: amd64
Maintainer: N V R K SAI KAMESH YADAVALLI  <saikamesh.y@gmail.com>
Installed-Size: 141
Depends: libc6 (>= 2.34), libgcc-s1 (>= 3.0), libnl-3-200 (>= 3.2.7), libnl-genl-3-200 (>= 3.2.7), libpcap0.8t64 (>= 0.9.8), libstdc++6 (>= 13.1)
Section: net
Priority: optional
Description: A wireless security analysis tool for Kali Linux
 This tool captures and analyzes raw 802.11 packets, providing features for
 penetration testers and security researchers.
