Package: libkrf-dbgsym
Source: libkrf
Version: 1.0-1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: N V R K SAI KAMESH YADAVALLI  <saikamesh.y@gmail.com>
Installed-Size: 74
Depends: libkrf (= 1.0-1)
Section: debug
Priority: optional
Description: debug symbols for libkrf
Build-Ids: e34c99c8289616ee88e1608e9e79a62448210531 ec34ebf6c1fb3efa5fd1705ff0a8af4639ba2e51
