#!/usr/bin/make -f
%:
	dh $@

override_dh_auto_configure:
	cmake .

override_dh_auto_build:
	make

override_dh_auto_install:
	mkdir -p debian/libkrf/usr/bin
	cp build/evilmon debian/libkrf/usr/bin/
	mkdir -p debian/libkrf/usr/lib/
	cp build/liblibkrf.so debian/libkrf/usr/lib/
	mkdir -p debian/libkrf/usr/include/
	cp -r include/ debian/libkrf/usr/include/
